
* {
    box-sizing: border-box;
    
    font-family: fantasy;
}

body {
    font-family: fantasy;
    background: aliceblue;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: teal;
    color: white; 
}

header nav a {
    color: white;
    border: 1px solid white;
    padding: 3px 8px;
    text-decoration: none;
    transition: color 200ms ease-in;
}

header nav a:hover {
    color: rgb(80, 98, 255);
    border: 1px solid rgb(80, 98, 255);
}

header, main {
    padding: 8px;
}

h1 {
    font-family: fantasy;
}

.hidden {
    display: none;
}



.bakeryImg {
    height: 250px;
    margin-top: -35px;
}
#buy:hover{
    color: teal;
    te
}